:root {
    --background-color:#FFEEAD;
    --background-color-2:#FFAD60;
    --background-color-3:#A66E38;
    --background-color-4:#96CEB4;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    background: var(--background-color);
}
.v-footer{
    background-color: var(--background-color-2);
}